.parallax-effect {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-1 {
    height: 100vh;
}

.background-2 {
    height: 40vh;
    background-image: url("../../img/computer.jpg");
    min-height: 40%;
}
