#my-experience {
    background-color: #34495e;
    vertical-align: middle;
    color: white;
    position: relative;
    padding: 50px;
}

#my-experience h1 {
    text-align: center;
}

#my-experience hr {
    background-color: white;
}
