.card {
    border-radius: 10px;
    padding: 0;
    transition: transform .2s;
    width: 100%;
    margin: auto;
}

.card img {
    position: relative;
    width: 30%;
    margin: 12% auto 0 auto;
}

.achievements {
    margin: 2%;
}

.stats {
    padding-left: 2%;
    padding-right: 2%;
}
